<div
    class="wrapper"
    [class.game-over]="gameOver">
    <div class="header">
        <label for="total-questions"> Choose number of questions: </label>
        <input
            type="number"
            [ngModel]="totalQuestions"
            (input)="validateTotalQuestions($event)"
            id="total-questions"
            [attr.max]="questions.length"
            min="1" />
        <button
            class="set-max"
            (click)="totalQuestions = questions.length">
            Max
        </button>
        <button
            class="reset-game"
            (click)="resetGame()">
            Re/start game
        </button>
    </div>

    <div class="game-header">
        <h3>
            QUESTION
            <span>{{ currentQuestion + 1 + "/" + game.length }}</span>
        </h3>
        <h3 class="score">
            Score: <span>{{ score }}</span>
        </h3>
    </div>

    <h2>Identify the correct interpretation of the traffic sign shown</h2>

    <div class="question">
        <img
            [src]="game[currentQuestion].image"
            alt="sign" />
        <div class="answers">
            <button
                *ngFor="let option of game[currentQuestion].options"
                (click)="checkAnswer(option.text)"
                [class.incorrect]="
                    option.correct === false && answeredIncorrect
                "
                [class.correct]="
                    option.correct === true &&
                    (answeredCorrect || answeredIncorrect)
                "
                [disabled]="answeredCorrect || answeredIncorrect">
                {{ option.text }}
            </button>
        </div>
    </div>
</div>

<div
    class="game-over-screen"
    *ngIf="gameOver">
    <h2>Game over!</h2>
    <h3>
        You answered <span>{{ score }}</span> questions correctly out of
        {{ game.length }}
    </h3>
    <button
        class="play-again"
        (click)="resetGame()">
        Play again
    </button>
</div>
